<<<<<<< HEAD
$color_claro: #D8D9D9;
$color_principal: #284557;
$color_secundario: #2B506A;

$font_primera: 20px;
$font_segunda: 15px;
$font_tercera: 12px;
$font_cuarta: 25px;

=======
$color_claro: #D8D9D9;
$color_principal: #284557;
$color_secundario: #2B506A;

$font_primera: 20px;
$font_segunda: 15px;
$font_tercera: 12px;
$font_cuarta: 25px;

>>>>>>> d50fb22af035f1fd3627cb591a84e7ec8d1d4f7d
